/* general style */
body {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  height: 7rem;
}

.light-red-bg {
  background-color: rgba(231, 200, 200, 0.1);
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.break {
  min-width: 100%;
  padding-top: 3rem;
}

/* home */
.section {
  padding: 3rem 5rem 3rem 5rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column; /* By default, for mobile view */
  align-items: center;
  justify-content: center;
}

.features-image {
  max-height: 27rem;
  width: auto;
}
.image {
  flex: 1;
}

.text {
  flex: 1;
  text-align: start;
  max-width: 70%;
}

/* For desktop view, reverse the order of flex items */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  /* Style for odd-numbered sections (1st, 3rd, 5th, etc.) */
  .section:nth-child(odd) .image {
    order: 2;
  }

  /* Style for even-numbered sections (2nd, 4th, 6th, etc.) */
  .section:nth-child(even) .text {
    order: 1;
  }
}

/* For Mobile view, let the image and text be smaller */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .features-image {
    max-height: 12rem;
    width: auto;
  }

  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
  }

  .text {
    padding-top: 2rem;
    text-align: start;
    max-width: 90%;
  }
}

/* nav */
.navbar {
  position: fixed;
  min-width: 100%;
  /* justify-content: center;
  align-items: center; */
  padding: 0;
  background-color: rgba(231, 1, 1);
  z-index: 3;
}

.nav-logo {
  max-height: 4rem;
  width: auto;
}
.navbar-toggler {
  border: 0;
}
.nav-link {
  color: white;
}

h1 {
  color: rgba(231, 1, 1);
}
h3 {
  margin: 0;
  color: rgba(121, 0, 0, 0.788);
}

/* About */
.about {
  padding: 3rem;
  padding-top: 5rem;
}

.about-text {
  text-align: start;
  max-width: 85%;
  margin: auto;
  padding-top: 1.5rem;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 85%;
  margin: auto;
}
.team {
  padding: 1rem;
  border-left: 2px solid red;
}

/* contact */
.contact {
  padding: 3rem;
  padding-top: 5rem;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

/* h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
} */

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.contact-item {
  text-align: center;
}

.contact-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
